<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekt_bazaDanych">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Baza Klientów"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".MainActivity"
            android:label="Logowanie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".update"
            android:label="Edycja" />
        <activity
            android:name=".addAccount"
            android:label="Dodaj nowy login" />
        <activity
            android:name=".showCustomers"
            android:label="Lista klientów" />
        <activity
            android:name=".addCustomer"
            android:label="Dodaj do bazy" />
        <activity
            android:name=".Menu"
            android:label="Menu"></activity>
    </application>

</manifest>